body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* index.css */
body {
  background-image: url('./web_design.png'); /* Ensure the path is correct as per your public folder */
  background-size: cover; /* Ensures the image covers the entire background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center top 150px; /* Adjust the vertical position */
  background-attachment: fixed; /* Keeps the background image fixed on scroll */
  color: #333333; /* Text color for readability */
  font-family: Arial, sans-serif;
}

/* Additional styles */
.container {
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for content */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
